body{
	background-color:#6A6869;
	text-align:center;
}
#content{
	padding-top:30px;
	background-image:url("image/laptop.jpg");
	width:1200px;
	height:800px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	box-shadow: 0 0 5px 5px;
	border-top-right-radius:15px;
	border-top-left-radius:15px;
}

#inhalt{
	padding-top:120px;
	width:1200px,;
	height:460px;
	z-index:1;
	border-left-style:grad;
	text-align:left;
	vertical-align: bottom;
}

h6{
	text-shadow:#000 2px 2px 1px;
	color:#0255DF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:30px;
}

#menu{
	background-color:#fff;
	width:1100px;
	height:80px;
	color:#fff;
	background-color:#000;
	z-index:2;
	border:3px solid #000;
	margin-top:50px;
	margin-left:50px;
	border-radius:15px;

}
#navigation_pane{
	text-align: right;
}
#footer{
	width:1200px;
	height:200px;
	background-color: #cbc8c8;
	padding-top:30px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	box-shadow: 0 0 5px 5px;
}

.nav_pane{
	margin-right: 50px;
	text-decoration: none;
	font-size: 20px;
	font-family: "Comic Sans MS";
	color: white;
}

.nav_pane:hover{
	opacity: 0.7;
	color: #886c09;
}
#logo{
	width: 15px;
	height: 15px;
	text-align: left;
}
img{
	width: 100px;
	height: 100px;
	text-align: center;
	position: absolute;
	margin-top: -10px;
}
img:hover{opacity: 0.7;}